@import "../../app.scss";

.index {
  background: #f5f6fa;
  padding: 24px;
  min-height: 100vh;
}
.form {
  width: 702px;
  height: 186px;
  background: #ffffff;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 0 32px;
  .form-item {
    height: 92px;
    border-bottom: 1px solid #f1f1f1;
    &:last-of-type {
      border-bottom: 0;
    }
    .form-label {
      width: 200px;
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #1d1d55;
      line-height: 45px;
    }
    .form-ipt {
      flex: 1;
      input {
        flex: 1;
        font-size: 32px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #1d283f;
        line-height: 45px;
      }
      .tips {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: #eee;
      }
    }
  }
}

.question{
    width: 38px;
height: 38px;
border: 3px solid #878D99;
@include flex();
color: #878D99;
font-size: 24px;
border-radius: 50%;
box-sizing: border-box;
margin-left: 10px;
}

.btn {
  width: 638px;
  margin: 32px;
}

.tixing {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 576px;
  height: 523px;
  background: #ffffff;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 0 48px;
  .tx-title {
    padding-top: 40px;
    font-size: 40px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #1d1d55;
    line-height: 56px;
    text-align: center;
  }
  .tx-content {
    padding-top: 24px;
    font-size: 32px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #1d283f;
    line-height: 45px;
  }
  .cfm {
    margin-top: 48px;
  }
}
