@import "../../app.scss";
.index {
  background: #f5f6fa;
  padding: 32px;
}
.image {
  margin-bottom: 32px;
  image {
    width: 686px;
    height: 376px;
    background: #061013;
    border-radius: 25px;
    opacity: 0.28;
  }
}
.box-1 {
  position: relative;
  .head {
    font-size: 43px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 61px;
    margin-bottom: 6px;
  }
  .box {
    image {
      width: 30px;
      height: 30px;
      margin-right: 6px;
      background-color: #eee;
    }
    .font1 {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #16233c;
      line-height: 46px;
    }
    .font2 {
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #16233c;
      line-height: 46px;
    }
  }
  .qi {
    width: 84px;
    height: 84px;
    background: #00cc88;
    position: absolute;
    right: 0;
    top: 8px;
  }
}
.box-2 {
  margin-top: 40px;
  .b2-head {
    font-size: 36px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 50px;
    margin-bottom: 16px;
  }
  .content {
    background-color: #fff;
    padding: 32px;
    border-radius: 25px;
    .line {
      display: flex;
      align-items: stretch;
      margin-bottom: 10px;
      .l {
        width: 200px;
        font-size: 28px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #6c6c6c;
        line-height: 40px;
      }
      .r {
        flex: 1;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #6c6c6c;
        line-height: 40px;
        &.slide {
          position: relative;
          height: 165px;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
              to top,
              rgba(255, 255, 255, 1),
              rgba(255, 255, 255, 0.5)
            );
          }
          overflow: hidden;
        }
      }
    }
  }
  .provide {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #030303;
    line-height: 46px;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      width: 135px;
      height: 2px;
      left: 4px;
      top: 50%;
    }
    &::after {
      content: "";
      width: 135px;
      height: 2px;
      right: 4px;
      top: 50%;
    }
    image {
      width: 102px;
      height: 30px;
      margin: 0 7px;
    }
  }
  .fold {
    text-align: center;
    font-size: 28px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #00cc88;
    line-height: 40px;
    margin-top: 40px;
  }
}
.box-3 {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: -32px;
  margin-right: -32px;
  width: 750px;
  height: 138px;
  background: #ffffff;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.08);
  border-radius: 25px 25px 0px 0px;
  padding-top: 77px;
  padding-left: 32px;
  box-sizing: border-box;
  position: relative;
  font-size: 36px;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: #000000;
line-height: 50px;
  &::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 12px;
    background: #d7d7d7;
    border-radius: 6px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
// JobCard
.job-card {
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 24px;
  .title {
    font-size: 32px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #101d37;
    line-height: 45px;
  }
  .red {
    color: #fa5859;
    .price {
      font-size: 30px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      line-height: 42px;
    }
    .unit {
      font-size: 24px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      line-height: 33px;
      margin-right: 30px;
    }
  }
  .tags {
    padding-top: 9px;
    .tag-item {
      padding: 4px 16px;
      font-size: 20px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #a4a9b4;
      line-height: 28px;
      background: #f5f6fa;
      border-radius: 10px;
      margin-right: 8px;
    }
  }
  .distance {
    padding-top: 20px;
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #1f2b44;
    line-height: 33px;
    .d-icon {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      background-color: #eee;
    }
    .outer {
      color: #1f2b44;
    }
  }
  .company {
    padding-top: 16px;
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #1f2b44;
    line-height: 33px;
    .c-icon {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      background-color: #eee;
    }
    .r-btn {
      padding: 12px 20px;
      font-size: 24px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #02ca8a;
      line-height: 33px;
      background: #e5fbf4;
      border-radius: 17px;
      border: 1px solid #00cc88;
    }
  }
}
