.index {
  height: 100vh;
  background: #fff;
}
.notice {
  width: 750px;
  height: 128px;
  border-bottom: 16px solid #f5f6fa;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 9;
  .notice-icon {
    width: 100px;
    height: 100px;
    background: #6f1dfe;
    border-radius: 50%;
    margin: 0 32px;
  }
  .arrow-icon {
    width: 12px;
    height: 21px;
    margin-right: 32px;
    // background-color: #eee;
  }
  .n-txt {
    flex: 1;
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #101d37;
    line-height: 45px;
  }
}
.msg-list {
  margin-top: 144px;
  background-color: #fff;
  .tips {
    font-size: 28px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #9c9c9c;
    line-height: 40px;
  }
  .no-msg {
    width: 100%;
    min-height: 964rpx;
    image {
      width: 465px;
      height: 465px;
      background-color: #eee;
    }
  }

  .msg-box {
    padding: 24px 32px 40px;
    display: flex;
    align-items: stretch;
    .avater {
      margin-top: 7px;
      width: 100px;
      height: 100px;
      background: #00cc88;
      margin-right: 32px;
      border-radius: 50%;
      position: relative;
      .badge {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: #fa5859;
        border-radius: 50%;
        font-size: 20px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        line-height: 28px;
      }
    }
    .des {
      flex: 1;
    }
    .mb12 {
      margin-bottom: 12px;
      flex: 1;
    }
    .font1 {
      font-size: 32px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #101d37;
      line-height: 45px;
    }
    .font2 {
      font-size: 20px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: #9d9d9d;
      line-height: 28px;
      margin-left: 12px;
    }
    .font3 {
      height: 28px;
      font-size: 20px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: #9d9d9d;
      line-height: 28px;
    }
    .font4 {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #9e9e9e;
      line-height: 40px;
    }
    .font5 {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #424242;
      line-height: 40px;
      margin-top: 3px;
    }
  }
}
