@import "../../app.scss";

.index {
  background: #f5f6fa;
  padding-bottom: 137px;
  min-height: 100vh;
  box-sizing: border-box;
}

.head {
  height: 208px;
  background-color: #fff;
  text-align: center;
  .avater {
    margin: 16px auto 12px;
    width: 120px;
    height: 120px;
    // background: #ffd201;
    border-radius: 50%;
    overflow: hidden;
  }
  .green {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #00cc88;
  }
}
.tips {
  height: 76px;
  background: #f4f4f7;
  box-sizing: border-box;
  padding-top: 27px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #afb3bc;
  line-height: 33px;
  padding: 0 23px;
  .tips-outer {
    color: #1f2b44;
  }
}

.form {
  background-color: #fff;
  padding: 0 24px;
  .form-item {
    height: 100px;
    border-bottom: 1px solid #e8e9eb;
    @include flex();
    &:last-of-type{
        border-bottom: 0
    }
    .form-label {
      width: 133px;
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #101d37;
    }
    .form-ipt {
      flex: 1;
      @include flex(space-between);
      .arrow-icon {
        width: 9px;
        height: 15px;
        margin-right: 32px;
      }
      .picker,
      input {
        flex: 1;
      }
    }
  }
}

.add {
  height: 107px;
  background-color: #fff;
  font-size: 28px;
  font-family: Source Han Sans CN-Regular, Source Han Sans CN;
  font-weight: 400;
  color: #00cc88;
}

.btns {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 137px;
  background: #ffffff;
  width: 100%;
  @include flex(space-between);
  box-sizing: border-box;
  padding: 0 32px;
  .btn {
    width: 330px;
  }
  .button-grey {
    color: #00cc88;
  }
}

.info {
  padding: 21px 21px 46px;
  font-size: 24px;
  font-family: Source Han Sans CN-Regular, Source Han Sans CN;
  font-weight: 400;
  color: #101d37;
  @include flex(flex-start);
  image {
    width: 30px;
    height: 32px;
    margin-right: 14px;
  }
}
