@import "../../app.scss";

.index {
  background: #f5f6fa;
  padding: 24px;
  min-height: 100vh;
}
.content {
  width: 702px;
  height: 570px;
  background: #ffffff;
  border-radius: 14px;
  padding: 0 32px;
  box-sizing: border-box;
  .des {
    padding-top: 40px;
    font-size: 30px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #1d283f;
    line-height: 42px;
    text-align: center;
  }
  .count {
    margin-top: 23px;
    font-size: 98px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1d283f;
    line-height: 137px;
    text-align: center;
  }
  .btn {
    margin-top: 108px;
  }
  .other-way {
    margin-top: 48px;
    text-align: right;
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #878d99;
    line-height: 33px;
  }
}
